body {
  background-color: black;
}

.header {
  color: #fff;
}

.ball {
  text-align: center;
  margin: 0 auto;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: 1s;
}

.ball1 {
  background-color: aqua;
  margin-bottom: 20px;
}

.ball2 {
    
  margin: 0 auto;
  background-color: bisque;
}
