body {
    background-color: black;
}

.header {
    color: #fff;
}

.ball1 {
    text-align: center;
    place-content: center;
    margin: 0 auto;
    
    background-color: aqua;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}